<h1>Recipes#show</h1>
<p id='notice'><%=notice%></p><!--Embedding flash message-->

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>
<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%=ingredient.name%></li>
  <%end%>
</ul>
